.title {
    text-align: center;
    font-size: 3vw;
}

.container {
    /* Spacing */
    margin-top: 5vh;
    margin-left: 10vh;
    margin-right: 10vh;

    /* Border */
    border: 1px solid #3f3a35;
    border-radius: 40px;

    /* Color */
    background-color: #3f3a35;

    /* Flex Box */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-control {
    text-align: center;
    width: 20%;
}

.input-group {
    margin-bottom: 5%;
}

.btn {
    /* padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vw;
    padding-right: 2vw; */

    /* Text */
    text-align: center;

    /* Transition Duration */
    transition-duration: 0.4s;
}

.btn-normal {
    /* Coloring */
    background-color: #3758a7;
    border: 2px solid #3758a7;
    border-radius: 10px;

    /* Sizing */
    margin-top: 2vh;
    margin-bottom: 3vh;
    padding: auto;
    padding: 1vh;

    /* Text */
    font-size: 1.5vw;
    color: white;
}

.btn-normal:hover {
    background-color: #274690;
    border: 2px solid #274690;
    border-radius: 10px;
}

.btn-danger {
    /* Sizing */
    width: 15%;
    padding: 1vh;
    float: right;

    /* Text */
    font-size: 1vw;
    color: white;

    /* Coloring */
    background-color: #c03737;
    border: 2px solid #c03737;
    border-radius: 10px;
}

.btn-danger:hover {
    background-color: #a52c2c;
    border: 2px solid #a52c2c;
    border-radius: 10px;
}

.question-text {
    float: left;
}

.question-control {
    /* Positioning */
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;

    /* Color */
    background-color: #5c5751;
    border-radius: 10px;

    /* Sizing */
    width: 45%;
}

.question-body {
    font-weight: bold;
}

input {
    /* Sizing */
    width: 90%;
    margin-top: 3%;
    padding: 10px;

    /* Background */
    background: transparent;

    /* Text */
    color: white;
    font-size: 1.5vw;

    /* Coloring */
    border: 2px solid white;
    border-radius: 10px;
}

label {
    /* Text */
    font-size: 1.5vw;
}

h1 {
    /* Size */
    width: 50vw;

    /* Border */
    border: 1px solid #3f3a35;
    border-radius: 40px;

    /* Color */
    background-color: #3f3a35;

    /* Text */
    color: whitesmoke;

    /* Positioning */
    text-align: center;
    margin-left: 25vw;
    padding-top: 1%;
    padding-bottom: 1%;
}

body {
    font-family: Verdana;
    color: white;
}
