.title {
    text-align: center;
    font-size: 3vw;
}

.container {
    /* Spacing */
    margin: 10vh;

    /* Border */
    border: 1px solid #3f3a35;
    border-radius: 40px;

    /* Color */
    background-color: #3f3a35;

    /* Flex Box */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-control {
    text-align: center;
    width: 20%;
}

.input-group {
    margin-bottom: 5%;
}

.btn {
    /* Sizing */
    margin-top: 2vh;
    margin-bottom: 3vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 2vw;
    padding-right: 2vw;

    /* Transition Duration */
    transition-duration: 0.4s;

    /* Text */
    font-size: 1.5vw;
    color: white;

    /* Coloring */
    background-color: #3758a7;
    border: 2px solid #3758a7;
    border-radius: 10px;
}

.btn:hover {
    background-color: #274690;
    border: 2px solid #274690;
    border-radius: 10px;
}

input {
    /* Sizing */
    width: 90%;
    margin-top: 3%;
    padding: 10px;

    /* Background */
    background: transparent;

    /* Text */
    color: white;
    font-size: 1.5vw;

    /* Coloring */
    border: 2px solid white;
    border-radius: 10px;
}

label {
    /* Text */
    font-size: 1.5vw;
}

h1 {
    text-align: center;
}

body {
    font-family: Verdana;
    color: white;
}
